---
import { getEvents, getEvent } from "@/content";
import EventLinks from "@/components/Event/EventLinks";
import EventGallery from "@/components/Event/EventGallery";
import SidebarPageLayout from "@/layouts/SidebarPageLayout.astro";
import MarkdownContent from "@/components/Common/MarkdownContent.astro";
import EventImageBig from "@/components/Event/EventImageBig";
import LocationCardEvent from "@/components/Common/LocationCardEvent";
import EventTags from "@/components/Event/EventTags";
import EventProjectorButton from "@/components/Event/EventProjectorButton";
import EventRSVPAlert from "@/components/Event/EventRSVPAlert";

export async function getStaticPaths() {
  const events = await getEvents();

  return events.map(({ id }) => {
    return {
      params: { eventSlug: id },
    };
  });
}

const { eventSlug } = Astro.params;
// getEvent already returns enhanced event with responsive images
const event = await getEvent(eventSlug);
---

<SidebarPageLayout>
  <Fragment slot="before-layout">
    <EventRSVPAlert event={event} client:visible />
  </Fragment>
  <Fragment slot="sidebar">
    <LocationCardEvent event={event} client:load />
  </Fragment>

  <Fragment slot="main-content">
    <EventImageBig event={event} client:load />
    <div class="flex flex-col gap-6 lg:hidden">
      <LocationCardEvent event={event} horizontal client:load />
    </div>
    <div class="group mt-12 mb-6 text-4xl">
      <h1 class="inline">
        {event.data.title}
      </h1>
      <div class="inline-block opacity-0 transition-opacity duration-300 group-hover:opacity-100">
        <EventProjectorButton event={event} client:visible />
      </div>
    </div>
    <EventTags tags={event.data.topics} />
    <MarkdownContent markdown={`events/${eventSlug}/event.md`} />
  </Fragment>

  <Fragment slot="after-content">
    <EventLinks event={event} />
    <EventGallery event={event} client:visible />
  </Fragment>
</SidebarPageLayout>
